<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<!-- Variable for Logs Folder -->
	<variable name="LogDirectory" value="${basedir}/Logs" />

	<targets>
		<!-- Log File Target -->
		<target name="logfile"
				xsi:type="File"
				fileName="${LogDirectory}/${shortdate}.log"
				layout="${longdate} | ${level} | ${logger} | ${message} ${exception}" />

		<!-- Console Target 🔥 -->
		<target name="console"
				xsi:type="Console"
				layout="${longdate} | ${level} | ${logger} | ${message} ${exception}" />
	</targets>

	<rules>
		<!-- Log into File -->
		<logger name="*" minlevel="Info" writeTo="logfile" />

		<!-- Log into Console -->
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>

</nlog>